/.bash_history
/.bash_logout
/.bashrc
/.cache
/.config
/.copilot
/.dotnet
/.lesshst
/.local
/.nv
/.profile
/.ssh
/.vscode-server
/.wget-hsts
/AerialImageDataset
/CSC592
/FAT_results
/NEW2-AerialImageDataset.zip
/adv_examples.png
/adv_examples2.png
/adv_examples3.png
/aerialimagelabeling.7z.001
/aerialimagelabeling.7z.002
/aerialimagelabeling.7z.003
/aerialimagelabeling.7z.004
/aerialimagelabeling.7z.005
/checkpoints
/data
/inria
/pytorch-env
/test_inria_label
/train_inria_label